[Desktop Entry]
Encoding=UTF-8
Name=Link to File:fulladder.xdc
Type=Link
URL=file:///home/t/ted/PUBLIC/COEN313/LABS/Lab1/Code/fulladder.xdc
Icon=text-plain
Name[en_CA]=Link to File:fulladder
